<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
    <title>Contact Us - Top Trading Co.</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" href="js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" media="all" type="text/css" href="js/prettyPhoto/css/prettyPhoto.css" />
    
    <!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
    <link rel="shortcut icon" href="favicon.ico" />
        
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- ============= HEADER STARTS HERE ============== -->
		<div id="header-wrapper" class="header2">
				
		     <!-- end of header div -->
				
                <!-- NAVIGATION BAR STARTS HERE -->
		        <div id="nav-wrap">
						<div class="inn-nav clearfix">
		                		
		                        <!-- MAIN NAVIGATION STARTS HERE -->
								<ul class="nav nav2">
										<li style="margin:0px 60px 0px 0px;"><img src="/logot.png" alt="Top Trading logo" class="logo2" /></a></li>
										<li class="active"><a href="about.html">About</a></li>
                                        <li><a href="products.html">Products</a>
                                        <li><a href="contactus.html">Contact us</a></li>
                                </ul><!-- end of nav ul -->
                                <!-- MAIN NAVIGATION ENDS HERE -->
                                
                                
                                <!-- SOCIAL NAVIGATION -->
                                <ul class="social-nav">
                                        <li class="twitter"><a href="#"></a></li>
                                        <li class="facebook"><a href="#"></a></li>
                                </ul><!-- end of social-nav ul -->
                        </div>
                </div><!-- end of nav-wrap -->
                <!-- NAVIGATION BAR ENDS HERE -->
        </div><!-- end of header-wrapper div -->

<!-- ============= HEADER ENDS HERE ============== -->


<!-- ============= CONTAINER STARTS HERE ============== -->
	<div id="container-wrap"> 
        <div id="container">
		        <!-- ============= CONTENT AREA STARTS HERE ============== -->
		        <div id="content">
                		
                        <!-- SLIDER STARTS HERE -->
						<div id="slider">
								<div class="slides">
										<ul>
											<li class="slide1">
												<img src="/images/about1.jpg" alt="Slider Image" />
												<div class="about">
														<p>TOP TRADING IS  a trading co. placed in Alexandria Egypt ; we are specialized
															in organic,conventional,import and export of Medicinal and aromatic plants.</p>
												</div>
											</li>
											<li class="slide2">
												<img src="/images/about2.jpg" alt="Slider Image" />
												<div class="about">
														<h2><p> ALSO we are specialized in exporting  dried food from Egypt to gulf countries Arab countries Europe and anywhere else.
															We have our farms and our factory  in AL-FAYOUM EGYPT.</p></h2>
												</div>
											</li>
										
										</ul>
										<p class="sliderNav"><span></span></p>
								</div><!-- end of slides -->
						</div><!-- end of Slider div -->
                        <!-- SLIDER AREA ENDS HERE -->
                
                <!-- ========== CONTENT AREA ENDS HERE ========== -->
     	</div>
    </div><!-- end of container div -->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        <div class="w-pet-border"></div>
<!-- ============= CONTAINER AREA ENDS HERE ============== -->
<!-- ============= FOOTER STARTS HERE ============== -->	
        <div id="footer-wrap">
				<div id="footer">
						<p class="copyright">© Copyright 2013 Top Trading Co. All Rights Reserved.</p>
				</div><!-- end of footer div -->
		</div><!-- end of footer-wrapper div -->
        
<!-- ============= FOOTER ENDS HERE ============== -->
</body>
</html>