<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
    <title>Contact Us - Top Trading Co.</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" href="js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" media="all" type="text/css" href="js/prettyPhoto/css/prettyPhoto.css" />
    
    <!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
    <link rel="shortcut icon" href="favicon.ico" />
        
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- ============= HEADER STARTS HERE ============== -->
		<div id="header-wrapper" class="header2">
				
		     <!-- end of header div -->
				
                <!-- NAVIGATION BAR STARTS HERE -->
		        <div id="nav-wrap">
						<div class="inn-nav clearfix">
		                		
		                        <!-- MAIN NAVIGATION STARTS HERE -->
								<ul class="nav nav2">
										<li style="margin:0px 60px 0px 0px;"><img src="/logot.png" alt="Top Trading logo" class="logo2" /></a></li>
										<li><a href="about.html">About</a></li>
                                        <li><a href="products.html">Products</a>
                                        <li class="active"><a href="contactus.html">Contact us</a></li>
                                </ul><!-- end of nav ul -->
                                <!-- MAIN NAVIGATION ENDS HERE -->
                                
                                
                                <!-- SOCIAL NAVIGATION -->
                                <ul class="social-nav">
                                        <li class="twitter"><a href="#"></a></li>
                                        <li class="facebook"><a href="#"></a></li>
                                </ul><!-- end of social-nav ul -->
                        </div>
                </div><!-- end of nav-wrap -->
                <!-- NAVIGATION BAR ENDS HERE -->
        </div><!-- end of header-wrapper div -->

<!-- ============= HEADER ENDS HERE ============== -->


<!-- ============= CONTAINER STARTS HERE ============== -->
	<div id="container-wrap"> 
        <div id="container">
		        <!-- ============= CONTENT AREA STARTS HERE ============== -->
		        <div id="content" >
				        <div id="left-area" class="clearfix">
				        			        
				      	<div id="sidebar" class= "clearfix">
				      		<h2 style="margin-left:80px; text-align:center;" class="title">Contact Us</h2>
				      		<!-- <img src="/logot.png" alt="Top Trading logo" class="logo1"/> -->
						     <div style="width:850px; height:250px; margin-left:-260px;" class="widget full-wide">
								        <h4 class="blue" style="text-align:center;">Address</h4>
								        <ul>
										        <li>15 May Road-Al Memaary Buildings- Tower C-Flat no.: 76 - Semoha - Alexandria - Egypt</li>
										        <li>
												        <span class="phone">+20-34200575</span>
												        <span class="phone">+20-1223293380</span>
												        <span class="note">+20-34243611</span>
												        <span class="email">info@toptrading.me</span>
										        </li>
								        </ul>
						        		<!-- <div class="widget-bot-round"></div> -->
						        </div>
				        </div><!-- end of sidebar -->
		        </div><!-- end of content div -->

                <!-- ========== CONTENT AREA ENDS HERE ========== -->
     	</div>  
    </div><!-- end of container div -->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        <div class="w-pet-border"></div>
<!-- ============= CONTAINER AREA ENDS HERE ============== -->
<!-- ============= FOOTER STARTS HERE ============== -->	
        <div id="footer-wrap">
				<div id="footer">
						<p class="copyright">© Copyright 2013 Top Trading Co. All Rights Reserved.</p>
				</div><!-- end of footer div -->
		</div><!-- end of footer-wrapper div -->
        
<!-- ============= FOOTER ENDS HERE ============== -->
</body>
</html>