<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
    <title>Products - Top Trading Co.</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" href="js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" media="all" type="text/css" href="js/prettyPhoto/css/prettyPhoto.css" />
    
    <!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
    <link rel="shortcut icon" href="favicon.ico" />
        
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- ============= HEADER STARTS HERE ============== -->
     <div id="header-wrapper" class="header2">
                
                
                    <!-- WEBSITE LOGO -->
                    
                    
                
                
                <!-- NAVIGATION BAR STARTS HERE -->
                <div id="nav-wrap">
                        <div class="inn-nav clearfix">
                                
                                <!-- MAIN NAVIGATION STARTS HERE -->
                                <ul class="nav nav2">
                                        <li style="margin:0px 60px 0px 0px;"><img src="/logot.png" alt="Top Trading logo" class="logo2"/></a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li class="active"><a href="products.html">Products</a>
                                        <li><a href="contactus.html">Contact us</a></li>
                                </ul><!-- end of nav ul -->
                                <!-- MAIN NAVIGATION ENDS HERE -->
                                
                                <!-- SOCIAL NAVIGATION -->
                                <ul class="social-nav">                                                 
                  <li class="twitter"><a href="#"></a></li>
                  <li class="facebook"><a href="#"></a></li>
                                </ul><!-- end of social-nav ul -->
                        </div>
                </div><!-- end of nav-wrap -->
                <!-- NAVIGATION BAR ENDS HERE -->
        </div><!-- end of header-wrapper div -->

<!-- ============= HEADER ENDS HERE ============== -->


<!-- ============= CONTAINER STARTS HERE ============== --> 
       <div id="container-wrap"> 
        <div id="container">
            <div id="left-area" class="eighty no-float">
                <div class="columns">
                    <div class="one-fourth">
                        <div class="menu-list lefty-menu">
                            <br>
                                <h2 id="gogo" class="red-heading">Our Products</h2>
                                                <ul id="1s">
                                                <li><a href="#1z">Chamomile Flower</a></li>
                                                <li><a href="#2z">Kalandiola Flowers</a></li>
                                                <li><a href="#3z">Kalamdiola Petals</a></li>
                                                <li><a href="#4z">Camomile Powder</a></li>
                                                <li><a href="#5z">Lemon Gras</a></li>
                                                <li><a href="#6z">Spermint</a></li>
                                                <li><a href="#7z">Peppermint</a></li>
                                                <li><a href="#8z">Basil</a></li>
                                                <li><a href="#9z">Thymes</a></li>
                                                <li><a href="#10z">Nigella Sativa</a></li>
                                                <li><a href="#11z">Roselle Brek</a></li>
                                                <li><a href="#12z">Hibiscus Blossom</a></li>
                                                <li><a href="#13z">Chamomile Seed</a></li>
                                                <li><a href="#14z">Anis(forget)</a></li>
                                                <li><a href="#15z">Caraway</a></li>
                                                <li><a href="#16z">Coriander Seed</a></li>
                                                <li><a href="#17z">Coriander Paper Dryer</a></li>
                                                <li><a href="#18z">Paper Dried Parsly</a></li>
                                                <li><a href="#19z">Paper dried dill</a></li>
                                                <li><a href="#20z">Liquorice</a></li>
                                                <li><a href="#21z">Fennel</a></li>
                                                <li><a href="#22z">Henna Ground</a></li>
                                            </ul>
                        </div>
                    </div> 
                    <div class="three-fourth" id="1d">
                        <!-- <img class="logo-beside" src="/images/logot.png" id="ava" /> -->
                        <div class="w-pet-border"></div>
                        <h3 class="red-heading" id="1z">Chamomile Flower</h3>
                        <img src="/images/ChamomileFlower.png">
                        <p>The Flower Diameter is less than 0.5 cm. Powder and the proportion of the seed and the petals not exceeing 10%.Distinctive odor and free of any strange colors.Free form pesticides.The proportion of empty flowers in the product not exceding 1%.Color between the white and yolk color of the batsman or green light.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%. Lenght of the neck from 1-2 cm
                        Packed in cartons weighing 10Kg</p>
                        

                        <h3 class="red-heading" id="2z">Kalandiola Flowers</h3>
                        <img src="/images/Klandiola Flowers.jpg">
                        <p>Diagonal red color to yellow.Moisture ranges from 8-9%.Percentage purity ranges from 96-98% .Alcandiola nonempty and petals with a characteristic odor.Free from pesticides.The packing in cartons weighing 10Kg.</p>
                        

                        <h3 class="red-heading" id="3z">Kalandiola Petals</h3>
                        <img src="/images/KlandiolaPetals.jpg">
                        <p>Color red to yellow diagonal.The length of the petal is 20-30 mm and 5-7 mm diameter.Moisture ranges from 8-9%.Percentage purity ranges from 96-98% of the petals .With a characteristic odor.Free form pesticies.Packed in paper or cloth sacks weighing 5-10 Kg.</p>
                        

                        <h3 class="red-heading" id="4z">Camomile Powder</h3>
                        <img src="/images/ChamomilePowder.jpg">
                        <p>Not exceeding the proportion of seed faithful than 2mm.Better to yellow or green light.Petals not exceeding the proportion of 0.2%.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free form pesticides.Packed paper or cloth snacks weighinh 10Kg.</p>
                        

                        <h3 class="red-heading" id="5z">LemonGras</h3>
                        <img src="/images/LemonGrass.jpg">
                        <p>A lemon grass plant leaves with light green.Free form yellow or browen orred.Aromatic odor and has a distinctive taste of lemon.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free form pesticides.Packed in sac paper weighing 5-10 Kg.</p>
                        

                        <h3 class="red-heading" id="5z">LemonGras Tea Pack</h3>
                        <img src="/images/Lemon Grass Tea Pack.jpg">
                        <p>-A lemon grass plant leaves with light green.Free form yellow or browen orred.Aromatic odor and has a distinctive taste of lemon.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free form pesticides.Packed in sac paper weighing 5-10 Kg.</p>
                        

                        <h3 class="red-heading" id="6z">Spermint</h3>
                        <img src="/images/Spermint.jpg">
                        <p>Leaves crushed form 2-7mm.Characteristic odor and color green and dark color.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free of presticides.Packaged in cartons weighing 10Kg.</p>
                        

                        <h3 class="red-heading" id="7z">Peppermint</h3>
                        <img src="/images/Peppermint.jpg">
                        <p>Leaves crushed form 2-7mm.Characteristic aromatic odor and color and green color.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free from pesticides.Packaged in cartons weighing 10Kg.</p>


                        <h3 class="red-heading" id="8z">Basil</h3>
                        <img src="/images/Basil.jpeg">
                        <p>Dry basil leaves in the shade or brokenleaves on demand.Not exceed 5% proportion of stems.Characteristic aromatic odor and taste weak aline.Color ranges form gree, green bastman of yolk.Moisture ranges from 8-9%. Percentage purity ranges from 96-98%.Packaged in cartons weighing 10Kg.</p>


                        <h3 class="red-heading" id="9z">Thymes</h3>
                        <img src="/images/thymes.jpg">
                        <p>Is full fruit maturity thyme.Color and distinctive taste and aroma.Light Green color.Percentage purity ranges from 96-98%.Free of insect and fungal infections.Packed in sacks weighing 25Kg or as requested by the client.</p>


                        <h3 class="red-heading" id="10z">Nigella Sativa</h3>
                        <img src="/images/Nigela sativa.jpg">
                        <p>Seeds are the full matrurity of the palnt nigella sativa.Distinctive taste.Moisture ranges from 8-9%.Free of insect infestation and fungal infections.Percentage purity ranges from 96-98%.Packaged in sacks of 25Kg or as requested by the client.</p>


                        <h3 class="red-heading" id="12z">Hibiscus Blossom</h3>
                        <img src="/images/Hipiscus.jpg">
                        <p>Is a flower plant hibiscus.Full color and distinctive taste.Free from seeds.Free of insect infestation and fungal infection.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Packaged in cartons weighed 10Kg or as requested by the client.</p>



                        <h3 class="red-heading" id="13z">Chamomile seed</h3>
                        <img src="/images/Chamomile seeds.jpg">
                        <p>Considered part of the chamomile flower.Distinctive aromatic odor.Bitter taste otre.Moisture ranges from 8-9%.Free of insect infestation and fungal infection.Percentage purity ranges from 96-98%.Packaged in sacks of 25Kg or as requested by the client.</p>


                        <h3 class="red-heading" id="14z">Anis(forget)</h3>
                        <img src="/images/Anis.jpg">
                        <p> Is the fruit of full maturity of the plant.The smell and taste discerning.Moisture ranges from 8-9%.Free of insect infestation and fungal infection.Percentage purity ranges from 96-98%.Packaged in sacks of 25 kg or as requested by the client.</p>


                        <h3 class="red-heading" id="15z">Caraway</h3>
                        <img src="/images/Careweya.jpg">
                        <p>A mature plant seeds of caraway taste color and odor.Moisture ranges from 8-9%.Free of insect infestation and fungal.Percentage purity ranges from 96-98%.Packaged in as sacks 25 kg. or as requested by the client.</p>


                        <h3 class="red-heading" id="16z">Coriander Seed</h3>
                        <img src="/images/coriander seed.jpg">
                        <p>Is a plant coriander seeds with a light brown color.Moisture ranges from 8-9%.Free of insect infestation and fungal.Percentage purity ranges from 96-98%.Packaged in as sacks 25 kg. or as requested by the client.</p>


                        <h3 class="red-heading" id="18z">Paper Dried Parsley</h3>
                        <img src="/images/parsly.jpg">
                        <p>Characteristic aromatic odor and color and green color.Moisture ranges from 8-9%.Percentage purity ranges from 96-98%.Free form pesticides.Packaged in cartons weighing 10Kg.</p>


                        <!-- <h3 class="red-heading" id="19z">Paper dried dill</h3>
                        <img src="/images/newproducts/avanatched.jpg">
                        <p>A break or dried parsly leaves with distinctive taste and aroma.Color green to light green.Moisture ranges from 8-9%.Free of insect infestation and fungal.Percentage purity ranges from 96-98%.Packaged in sacks weighing 10 kg. or as requested by the client.</p> -->


                        <h3 class="red-heading" id="20z">Liquorice</h3>
                        <img src="/images/Liquorice root.jpg">
                        <p>Is a root of liquorice powder plant with distinctive taste - root diameter less than 1 cm - and cut according to demand.Moisture ranges from 8-9%.Free of insect infestation and fungal.Percentage purity ranges from 96-98%.Packed in sacks as requested by the client.</p>


                        <h3 class="red-heading" id="20z">Liquorice Tea-Pack</h3>
                        <img src="/images/Liquorice teapack.jpg">
                        <p>Is a root of liquorice powder plant with distinctive taste - root diameter less than 1 cm - and cut according to demand.Moisture ranges from 8-9%.Free of insect infestation and fungal.Percentage purity ranges from 96-98%.Packed in sacks as requested by the client.</p>

                        <h3 class="red-heading" id="21z">Fennel</h3>
                        <img src="/images/Fennel.jpg">
                        <p>Is a fruit full of maturity of the plant fennel from yard with taste and odor.Color green to light green.Moisture ranges from 8-9%.The proportion of volatile olis not less than 2%.Free of insect and fungal infestation.Percentage purity ranges from 96-98%.Packaged in sacks weighing 25-50 kg. - or as requested by the client.</p>

                    </div>
                </div> <!-- end columns -->
            </div> <!-- end left area -->
         </div>       
     </div><!-- end container -->
     <!-- end of content div -->
                
                <!-- CONTENT ENDS HERE -->
                <!-- end of container div -->

        <div class="w-pet-border"></div>
<!-- ============= CONTAINER AREA ENDS HERE ============== -->
<!-- ============= FOOTER STARTS HERE ============== -->    
        
        <div id="footer-wrap">
                <div id="footer">
                        <p class="copyright">© Copyright 2013 Top Trading Co. All Rights Reserved.</p>
                </div><!-- end of footer div -->
        </div><!-- end of footer-wrapper div -->
        
<!-- ============= FOOTER ENDS HERE ============== -->
    
    <!-- Remove it if you do not need jQuery -->

</body>
</html>